In [3]:
!pip install requests pandas

Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2025.1.31)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import requests
import pandas as pd

In [7]:
spacex_url = "https://api.spacexdata.com/v4/launches/past"

In [9]:
response = requests.get(spacex_url)

# Check if the request was successful (Status Code 200)
if response.status_code == 200:
    data = response.json()  # Convert response to JSON format
    print("Data successfully retrieved!")
else:
    print("Failed to retrieve data. Status code:", response.status_code)

Data successfully retrieved!

In [11]:
# Extract relevant fields from API response
launch_data = []

for launch in data:
    launch_data.append({
        "Mission Name": launch["name"],
        "Launch Date": launch["date_utc"],
        "Rocket ID": launch["rocket"],
        "Launch Site": launch["launchpad"],
        "Payload Mass (kg)": launch["payloads"][0] if "payloads" in launch and len(launch["payloads"]) > 0 else None,
        "Success": launch["success"]
    })

# Convert to Pandas DataFrame
df = pd.DataFrame(launch_data)

# Display first 5 rows
df.head()

,Mission Name,Launch Date,Rocket ID,Launch Site,Payload Mass (kg),Success
0,FalconSat,2006-03-24T22:30:00.000Z,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b5b6c3bb0006eeb1e1,False
1,DemoSat,2007-03-21T01:10:00.000Z,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b6b6c3bb0006eeb1e2,False
2,Trailblazer,2008-08-03T03:34:00.000Z,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b6b6c3bb0006eeb1e3,False
3,RatSat,2008-09-28T23:15:00.000Z,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b7b6c3bb0006eeb1e5,True
4,RazakSat,2009-07-13T03:35:00.000Z,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b7b6c3bb0006eeb1e6,True

In [13]:
# Convert Launch Date to a proper datetime format
df["Launch Date"] = pd.to_datetime(df["Launch Date"])

# Fill missing values in Payload Mass
df["Payload Mass (kg)"].fillna(0, inplace=True)

# Convert Success to a Boolean type
df["Success"] = df["Success"].astype(bool)

# Display the cleaned dataset
df.head()

/var/folders/nn/0nd5mtdd4wx4mymtnf788kh40000gn/T/ipykernel_8898/485075408.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Payload Mass (kg)"].fillna(0, inplace=True)

,Mission Name,Launch Date,Rocket ID,Launch Site,Payload Mass (kg),Success
0,FalconSat,2006-03-24 22:30:00+00:00,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b5b6c3bb0006eeb1e1,False
1,DemoSat,2007-03-21 01:10:00+00:00,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b6b6c3bb0006eeb1e2,False
2,Trailblazer,2008-08-03 03:34:00+00:00,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b6b6c3bb0006eeb1e3,False
3,RatSat,2008-09-28 23:15:00+00:00,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b7b6c3bb0006eeb1e5,True
4,RazakSat,2009-07-13 03:35:00+00:00,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,5eb0e4b7b6c3bb0006eeb1e6,True

In [15]:
df.to_csv("spacex_launch_data.csv", index=False)
print("Data saved as spacex_launch_data.csv")

Data saved as spacex_launch_data.csv