In [2]:
import sqlite3
import pandas as pd

In [4]:
# Create a connection to SQLite
conn = sqlite3.connect("spacex_launches.db")

# Load the CSV into a Pandas DataFrame
df = pd.read_csv("spacex_launch_data.csv")

# Save DataFrame to SQL table
df.to_sql("launches", conn, if_exists="replace", index=False)

# Verify the table exists
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn))

       name
0  launches

In [6]:
query = """
SELECT launch_site, COUNT(*) AS total_launches
FROM launches
GROUP BY launch_site
ORDER BY total_launches DESC;
"""
df1 = pd.read_sql(query, conn)
print(df1)

DatabaseError: Execution failed on sql '
SELECT launch_site, COUNT(*) AS total_launches
FROM launches
GROUP BY launch_site
ORDER BY total_launches DESC;
': no such column: launch_site

In [8]:
query = "PRAGMA table_info(launches);"
df_info = pd.read_sql(query, conn)
print(df_info)

   cid               name     type  notnull dflt_value  pk
0    0       Mission Name     TEXT        0       None   0
1    1        Launch Date     TEXT        0       None   0
2    2          Rocket ID     TEXT        0       None   0
3    3        Launch Site     TEXT        0       None   0
4    4  Payload Mass (kg)     TEXT        0       None   0
5    5            Success  INTEGER        0       None   0

In [10]:
query = """
SELECT "Launch Site", COUNT(*) AS total_launches
FROM launches
GROUP BY "Launch Site"
ORDER BY total_launches DESC;
"""
df1 = pd.read_sql(query, conn)
print(df1)

                Launch Site  total_launches
0  5e9e4501f509094ba4566f84              99
1  5e9e4502f509094188566f88              55
2  5e9e4502f509092b78566f87              28
3  5e9e4502f5090995de566f86               5

In [12]:
SELECT "Launch Site", AVG("Payload Mass (kg)") AS avg_payload_mass
FROM launches
GROUP BY "Launch Site";

SyntaxError: invalid syntax (3448737852.py, line 1)

In [14]:
query = """
SELECT "Launch Site", AVG("Payload Mass (kg)") AS avg_payload_mass
FROM launches
GROUP BY "Launch Site";
"""

df2 = pd.read_sql(query, conn)
print(df2)

                Launch Site  avg_payload_mass
0  5e9e4501f509094ba4566f84      6.380570e+12
1  5e9e4502f509092b78566f87      2.503496e+04
2  5e9e4502f509094188566f88               inf
3  5e9e4502f5090995de566f86      5.000000e+00

In [16]:
query = """
SELECT "Launch Site", COUNT(*) AS total_launches
FROM launches
GROUP BY "Launch Site"
ORDER BY total_launches DESC;
"""
df1 = pd.read_sql(query, conn)
print(df1)

                Launch Site  total_launches
0  5e9e4501f509094ba4566f84              99
1  5e9e4502f509094188566f88              55
2  5e9e4502f509092b78566f87              28
3  5e9e4502f5090995de566f86               5

In [18]:
query = """
SELECT orbit, AVG("Payload Mass (kg)") AS avg_payload_mass
FROM launches
GROUP BY orbit;
"""
df2 = pd.read_sql(query, conn)
print(df2)

DatabaseError: Execution failed on sql '
SELECT orbit, AVG("Payload Mass (kg)") AS avg_payload_mass
FROM launches
GROUP BY orbit;
': no such column: orbit

In [20]:
query = "PRAGMA table_info(launches);"
df_info = pd.read_sql(query, conn)
print(df_info)

   cid               name     type  notnull dflt_value  pk
0    0       Mission Name     TEXT        0       None   0
1    1        Launch Date     TEXT        0       None   0
2    2          Rocket ID     TEXT        0       None   0
3    3        Launch Site     TEXT        0       None   0
4    4  Payload Mass (kg)     TEXT        0       None   0
5    5            Success  INTEGER        0       None   0

In [22]:
query = """
SELECT "Orbit", AVG("Payload Mass (kg)") AS avg_payload_mass
FROM launches
GROUP BY "Orbit";
"""
df2 = pd.read_sql(query, conn)
print(df2)

  "Orbit"  avg_payload_mass
0   Orbit               inf

In [24]:
query = """
SELECT "Launch Site", AVG("Payload Mass (kg)") AS avg_payload_mass
FROM launches
GROUP BY "Launch Site";
"""
df2 = pd.read_sql(query, conn)
print(df2)

                Launch Site  avg_payload_mass
0  5e9e4501f509094ba4566f84      6.380570e+12
1  5e9e4502f509092b78566f87      2.503496e+04
2  5e9e4502f509094188566f88               inf
3  5e9e4502f5090995de566f86      5.000000e+00

In [26]:
df["Payload Mass (kg)"] = pd.to_numeric(df["Payload Mass (kg)"], errors="coerce").fillna(0)

In [28]:
df.to_sql("launches", conn, if_exists="replace", index=False)

187

In [30]:
query = """
SELECT "Launch Site", COUNT(*) AS total_launches
FROM launches
GROUP BY "Launch Site"
ORDER BY total_launches DESC;
"""
df1 = pd.read_sql(query, conn)
print(df1)

                Launch Site  total_launches
0  5e9e4501f509094ba4566f84              99
1  5e9e4502f509094188566f88              55
2  5e9e4502f509092b78566f87              28
3  5e9e4502f5090995de566f86               5

In [34]:
query = """
SELECT COUNT(*) AS total_launches
FROM launches;
"""
df3 = pd.read_sql(query, conn)
print(df3)

   total_launches
0             187

In [36]:
query = """
SELECT * FROM launches
WHERE "Launch Date" BETWEEN '2020-01-01' AND '2022-12-31';
"""
df4 = pd.read_sql(query, conn)
print(df4)

                                       Mission Name  \
0                                        Starlink-2
1                  Crew Dragon In Flight Abort Test
2                                        Starlink-3
3                                        Starlink-4
4                                            CRS-20
..                                              ...
96   Starlink 4-20 (v1.5) & Sherpa LTC-2/Varuna-TDM
97              Starlink 4-2 (v1.5) & Blue Walker 3
98                             Starlink 4-34 (v1.5)
99                             Starlink 4-35 (v1.5)
100                                          Crew-5

                   Launch Date                 Rocket ID  \
0    2020-01-07 02:19:00+00:00  5e9d0d95eda69973a809d1ec
1    2020-01-19 14:00:00+00:00  5e9d0d95eda69973a809d1ec
2    2020-01-29 14:06:00+00:00  5e9d0d95eda69973a809d1ec
3    2020-02-17 15:05:55+00:00  5e9d0d95eda69973a809d1ec
4    2020-03-07 04:50:31+00:00  5e9d0d95eda69973a809d1ec
..                         ...                       ...
96   2022-09-05 02:09:00+00:00  5e9d0d95eda69973a809d1ec
97   2022-09-11 01:10:00+00:00  5e9d0d95eda69973a809d1ec
98   2022-09-17 01:05:00+00:00  5e9d0d95eda69973a809d1ec
99   2022-09-24 23:30:00+00:00  5e9d0d95eda69973a809d1ec
100  2022-10-05 16:00:00+00:00  5e9d0d95eda69973a809d1ec

                  Launch Site  Payload Mass (kg)  Success
0    5e9e4501f509094ba4566f84                0.0        1
1    5e9e4502f509094188566f88                0.0        1
2    5e9e4501f509094ba4566f84                0.0        1
3    5e9e4501f509094ba4566f84                0.0        1
4    5e9e4501f509094ba4566f84                0.0        1
..                        ...                ...      ...
96   5e9e4501f509094ba4566f84                0.0        1
97   5e9e4502f509094188566f88                0.0        1
98   5e9e4501f509094ba4566f84                0.0        1
99   5e9e4501f509094ba4566f84                0.0        1
100  5e9e4502f509094188566f88                0.0        1

[101 rows x 6 columns]

In [38]:
query = """
SELECT "Rocket ID", COUNT(*) AS total_uses
FROM launches
GROUP BY "Rocket ID"
ORDER BY total_uses DESC;
"""
df5 = pd.read_sql(query, conn)
print(df5)

                  Rocket ID  total_uses
0  5e9d0d95eda69973a809d1ec         179
1  5e9d0d95eda69955f709d1eb           5
2  5e9d0d95eda69974db09d1ed           3